In [4]:
a=10
if a>5:
  print("A는 5보다 크다")
print("프로그램종료")

A는 5보다 크다
프로그램종료

In [5]:
a=10
if a>5:
    print("a는 5보다 크다")
elif a<=5:
    print("a는 5이하입니다")

a는 5보다 크다

In [19]:
a=5
if a>5:
    print("A는 5보다 크다")
elif a<5:
    print("A는 5보다 작다")
else:
    print("A는 5이다")

A는 5이다

#a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

In [14]:
a=5
if a%2 == 0:
    print("a는 짝수이다")
elif a%2 == 1:
    print("a는 홀수이다")

#교수님은 elif a%2! == 0: or else 라고 하셨음.

a는 홀수이다

In [22]:
a=10
b=5
if a>5:
    if b<10:
      print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

In [24]:
a=10
b=5
if a>5 and b<10:
    print("a는 5보다 크고 b는 10보다 작다")

# 위와 이거는 동일함. 다만 위의 것은 중첩조건문이다. 중첩으로 표시할건지 아닌지의 차이임.

a는 5보다 크고 b는 10보다 작다

0~100점수를 입력받아서

90점이상 A

80점이상 B

70점이상 C

60점이상 D

그외 F

In [29]:
a=85
if a >= 90:
    print("A")
elif a >= 80:
    print("B")
elif a >= 70:
    print("C")
elif a >= 60:
    print("D")
else:
    print("F")

B

In [33]:
#교수님 답안

score = 70


if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(grade)

C

In [34]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [35]:
#결과가 옆으로 출력

a=[1,2,3,4,5]
for i in a:
  print(i,end='')

12345

In [41]:
a=[1,2,3,4,5,6,7,8,9,10]
tot=0
for i in a:
  print(i)
  tot+=i
print(tot)

1
2
3
4
5
6
7
8
9
10
55

In [44]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [45]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [46]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [48]:
#1부터 100까지 홀수 출력

for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#1에서 100까지 짝수 출력, 가운데를 100으로 주면 100은 출력 안되니 101로 씀. 맨 앞 숫자부터 시작이니까 맨 앞 숫자도 2

for i in range(2,101,2):
  print(i)

In [55]:
# 들여쓰기 주의하기! 조금만 달라도 오류뜸

for i in range(1,101):
  if i%2 == 0:
      continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [56]:
for i in range(1,101):
  if i%2 == 1:
      continue
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [57]:
#홀수가 나오는 순간에 break가 걸림

for i in range(5):
  if i%2 == 1:
    break
  print(i)

0

In [60]:
# 1에서 10사이의 짝수의 값, 홀수의 값의 합을 따로 구해보시오

짝수합=0
홀수합=0
for i in range(1,11):
  if i%2==0:
    짝수합+=i
  else:
    홀수합+=i
print(짝수합)
print(홀수합)

30
25

In [64]:
# n의 값을 입력
# 1부터 n까지 반복
  # 합을 계산
# 합을 출력

n=3
tot=0

for i in range(1,n+1):

  tot += i

print(tot)

6