다음 리스트에서 "apple" 요소를 출력하세요.

In [2]:
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])

apple

다음 리스트에서 마지막 요소를 출력하세요.

In [3]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-1])

50

다음 리스트에서 "banana" 요소를 "grape"로 변경하세요.

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits[1]="grape"
print(fruits)

['apple', 'grape', 'cherry']

다음 리스트에 "strawberry" 요소를 추가하세요.

In [5]:
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

다음 리스트에서 30을 제거하세요.

In [6]:
numbers = [10, 20, 30, 40, 50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

In [ ]:
다음 리스트의 길이를 출력하세요.

In [7]:
numbers = [5, 10, 15, 20, 25]
len(numbers)

5

다음 리스트에서 가장 작은 값/ 가장 큰 값을 찾아 출력하세요.

In [9]:
numbers = [10, 5, 8, 3, 15]
min(numbers)/max(numbers)

0.2

In [ ]:
numbers = [10, 5, 8, 3, 15]
min(numbers)/max(numbers)

다음 리스트의 모든 요소의 합을 계산하여 출력하세요.

In [10]:
numbers = [10, 20, 30, 40, 50]
sum(numbers)

150

다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요.

In [13]:
numbers = [1, 2, 3, 4, 5]
newlst=[]
for num in numbers:
    print(num*num)

1
4
9
16
25

In [19]:
numbers = [1, 2, 3, 4, 5]
newlst=[]
for num in numbers:
   newlst.append(num*num)
print(newlst)

[1, 4, 9, 16, 25]

In [22]:
#교수님 정답
numbers = [1, 2, 3, 4, 5]
newlst=[]
for num in numbers:
   newlst.append(num**2)
print(newlst)

[1, 4, 9, 16, 25]

In [50]:
#함수 정의

def square(numbers):
  newlst=[]
  for num in numbers:
    newlst.qppend(num**2)
  return newlst

In [51]:
#함수 호출
new = square([1, 2, 3, 4, 5])
print(new)

AttributeError: 'list' object has no attribute 'qppend'

다음 리스트에서 "apple" 요소의 개수를 출력하세요.

In [11]:
fruits = ["apple", "banana", "apple", "cherry", "apple"]
fruits.count("apple")

3

In [26]:
#사용자 정의 함수

#함수 정의
def add(a, b):
  result = a + b
  return result

#함수 호출
sum_result = add(3, 5)
print(sum_result)

8

In [52]:
# 함수 정의
def square(x):
  return x**2

In [40]:
# 함수 호출
ret=square(6)
print(ret)

36

In [31]:
# 함수 정의 (계산 식이 짧은 경우 그냥 return 에 적어줘도 됨)
def square(x):
  result=x**2
  return result

  # 함수 호출
ret=square(6)
print(ret)

36

In [34]:
#이런 방식도 가능
print(square(6))

36

In [33]:
print(square(5))
print(square(10))
print(square(15))
print(square(20))

25
100
225
400

In [58]:
# 함수 정의 (입력되는 값의 단위 등을 생각하고 만들어야함!)

def BMI(h,w):
  result= w/((h/100)**2)
  return result

In [59]:
# 함수 호출

결과=BMI(190,90)
print(결과)

24.930747922437675